# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Scene.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\2PM\Scene\.idea\.idea.Scene\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
