# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Player2.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Unity Project\Player2\.idea\.idea.Player2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
